<select name="{{name}}" id="">
    <options>
        <option value="true" {{{setSelected true value}}}>Yes</option>
        <option value="false" {{{setSelected false value}}}>No</option>
    </options>
</select>