<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}

</head>
<body>
<img src="/img/t212-header.jpg" alt="BSA Troop 212, Cary, NC" />
<!-- <div class="header-nav">
  <ul>
    <li>
      <a class="menuItem" href="/" onclick="makeActive(this)">Home</a>
    </li>
    <li>
      <a class="menuItem" href="/signup" onclick="makeActive(this)">Register with Troop 212 Apps</a>
    </li>
    <li>
      <a class="menuItem" href="/balance" onclick="makeActive(this)">Request Scout Account Balance</a>
    </li>
  </ul>
</div> -->
  {{{body}}}


  </body>
</html>
