<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script src="/components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<a href="/"><img id="logo" src="/img/t212-header.jpg" alt="BSA Troop 212, Cary, NC" /></a>  
<!-- <div class="header-nav">
  <ul>
    <li>
      <a class="menuItem" href="/" onclick="makeActive(this)">Home</a>
    </li>
    <li>
      <a class="menuItem" href="/signup" onclick="makeActive(this)">Register with Troop 212 Apps</a>
    </li>
    <li>
      <a class="menuItem" href="/balance" onclick="makeActive(this)">Request Scout Account Balance</a>
    </li>
  </ul>
</div> -->
  {{{body}}}
    
  <script type="text/javascript">
//prevent user from submitting the form when pressing enter key
  function checkEnter(e){
    e = e || event;
    var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
    return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
  }
  if (document.querySelector('form')) {
      document.querySelector('form').onkeypress = checkEnter;
  }
</script>
  </body>
</html>
