<div class="row">
    {{#if emailFound}}
        {{success}}
    {{else}}
        {{failure}}
    {{/if}}    
</div>
<div class="row">
    <br>
    <a href="/balance">Click here</a> to make another account balance request.
</div>