

  <h1>{{title}}</h1>
  <div>
    <form action="/balance/email" method="post">
      <label for="email">Enter Registered Email Address:</label>
      <span class="info">(can be a scout or parent email, but must exist in the Troop database)</span>
      <br><input type="text" name="email" id="email" value="">
      <button type="submit">Submit</button>
    </form>
    {{!--<form action="/balance/id" method="post">
      <label for="scoutId">Enter Scout ID:</label>
      <input type="text" name="scoutId" id="scoutId" value="">
      <button type="submit">Submit</button>
    </form>    --}}
  </div>
