

  <h1>{{title}}</h1>
  <div>
    <form action="/balance/email" method="post">
      <label for="email">Enter Scout Regitered Email Address:</label>
      <input type="text" name="email" id="email" value="">
      <button type="submit">Submit</button>
    </form>
    <form action="/balance/id" method="post">
      <label for="scoutId">Enter Scout ID:</label>
      <input type="text" name="scoutId" id="scoutId" value="">
      <button type="submit">Submit</button>
    </form>    
  </div>
