  <h1>{{title }}</h1>
  <div class="">
    The following services are available or are under current development:
     <section>
      <h2><a href="/survey">Survey on Technology and Electronic Device Usage</a></h2>
      <span class="info">(Web App registration not required)</span>
      <div class="">
        <p>
          A brief opinion survey on the usage of technology and electronic devices during troop meetings and outings.
        </p>
      </div>
    </section>
    <hr>{{!-- 
    <section>
      <h2><a class="not-active" href="/signup">Web App Registration</a></h2>
      <span class="info">(Coming Soon!)</span>
      <div class="">
        <p>
         Some Troop 212 Web Apps require user registration.
          Visit this area first if you are a first time user.
        </p>
      </div>
    </section> --}}
    <section>
      <h2><a class="not-active" href="/balance">Scout Account Balance Retrieval Via Email</a></h2>
      <span class="info">(Coming Soon!)</span>
      <div class="">
        <p>
         Provides easy, on-demand retrieval of Scout Account balance using a registered email address.
        </p>
      </div>
    </section>
    <hr>
    <section>
      <h2><a class="not-active" href="#">Troop Trip Planning Template</a></h2>
      <span class="info">(Coming Soon!)</span>
      <div class="">
        <p>
         Allows Troop leaders to easily communicate the latest details on upcoming troop trips.
        </p>
      </div>
    </section>
  </div>
