  <h1>{{title }}</h1>
  <div class="">
     <section>
      <h2><a href="/policy">Policies and Procedures</a></h2>
      <div class="">
        <p>
          Information on Troop policies and procedures, including electronic device usage and the
          Troop 212 Technology Chip Program.
        </p>
      </div>
    </section>
    <hr>
    <section>
      <h2><a class="" href="/balance">Scout Account Balance Retrieval Via Email</a></h2>
        <div class="">
        <p>
         Provides easy, on-demand retrieval of Scout Account balance using a registered email address.
        </p>
      </div>
    </section>
    <hr>
    <section>
      <h2><a class="not-active" href="#">Troop Trip Planning Template</a></h2>
      <span class="info">(Coming Soon!)</span>
      <div class="">
        <p>
         Allows Troop leaders to easily communicate the latest details on upcoming troop trips.
        </p>
      </div>
    </section>
  </div>
