

  <h1>{{title }}</h1>
  <div class="">
    The following services are available:
    <section>
      <h2><a href="/signup">Web App Registration</a></h2>
      <div class="">
        <p>
          The Troop 212 Web Apps require users to register for various services.
          Visit this area first if you are a first time user.
        </p>

      </div>
    </section>
  </div>
