<h1>{{title}}</h1>
<section>
    <h2>Electronic Device Usage</h2>
    <ul>
        <li><a href="policy/tech-policy">Policy</a></li>
        <li><a href="policy/tech-contract">Troop 212 Technology Chip Contract</a></li>
        <li><a href="policy/tech-card-sample">Troop 212 Technology Chip Honor Card</a></li>
    </ul>
</section>