<div class="">
  {{result}}<br><br>
  Your registration has been submitted but is not yet active.<br><br>
  You will receive a confirmation email once a human ASM has had a chance to varify your information and make your registration official. <br><br>
  Thank you! :-)<br><br>
</div>
<div class="">
  To register for an additional scout account balance retrieval, <a href="signup">click here</a>. You may use the same
  email address to register for multiple scouts, if desired.dfdsf
  
</div>
