<h1>{{title }}</h1>
<div class="">
  <form class="" action="/signup" method="post">
    <fieldset>
      <legend>Register</legend>
      <ul>
        <li class="formItem">
          <label for="scoutName">Scout Name(s):</label>
          <input type="text" name="scoutName" value="">
          <br>
          <span class="info">Multiple Scouts can be linked to the same email address if desired.</span>
        </li>
        <li class="formItem">
          <label for="registeredEmail">Registered Email Address:</label>
          <input type="text" name="email" id="registeredEmail" placeholder="name@something.org" value="">
          <br>
          <span class="info">This is the address that will be used to look-up the account balance.</span>
        </li>
        <!-- <li class="formItem">
          <label for="additionalEmails">Additional Email Addresses:</label>
          <input type="text" name="additionalEmails" value=""><br>
          <span class="info">
            (Separate with commas. These addresses will also receive the account balance.)
          </span>
        </li> -->
        <li class="formItem">
          <button type="submit" name="register">Submit</button>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
