<h1>{{title }}</h1>
<div class="">
  <form class="" action="/survey" method="post">
    <fieldset>
      <legend>Technology Survey</legend>
      <ul>
        <li class="formItem">
          <label for="name">Your Name (optional but preferred):</label>
          <input type="text" name="name" value="">  
        </li>
        <li class="formItem">
          <label for="type">I am a...</label>
          <select name="type" id="type">
          <option value="0">Choose...</option>
          <option value="1">Scout</option>
          <option value="2">Parent (not in leadership role)</option>
          <option value="3">Adult Leader</option>
          </select>
        </li>
        <li class="formItem">
          <div>
            Text on nature of tech and devices and those times they are a changing...
          </div>
          <label>
            List three ways that technology could be
            used on troop outings or within meetings
            to enhance the Scouting experience.
          </label>
          <ul>
            <li class="formItem">
              <input type="text" name="">
            </li>
            <li class="formItem">
              <input type="text" name="">
            </li>
            <li class="formItem">
              <input type="text" name="">
            </li>
          </ul>
        </li>
        <li class="formItem">
          <label>
              List three ways that technology might be
              a distraction from the intended Scouting
              experience.
          </label>
          <ul>
            <li class="formItem">
              <input type="text" name="">
            </li>
            <li class="formItem">
              <input type="text" name="">
            </li>
            <li class="formItem">
              <input type="text" name="">
            </li>
          </ul>
        </li>                
        <li class="formItem">
          <button type="submit" name="surveySubmit">Submit</button>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
