<h1>{{title}}</h1>
<div>
    <p>The contract has been submitted and recorded. Please chek your email for 
        a link to your personalized Technolgy Chip Honor Card.
    </p>
    <p>
        Once you have fulfilled all of the Troop 212 Technolgy Policy requirements,
        bring your Honor Card to a Troop 212 meeting for activation.
    </p>
</div>