<h1>{{title}}</h1>
<section id="summary">
    <p>
        Scouts who have earned the Troop 212 “Technology Chip” will be allowed 
        to use <a href="#devices">approved devices</a> at approved times during troop meetings and activities.
         Each qualifying scout will be issued a Technology Chip Honor Card indicating that
          he is currently eligible to use approved devices at designated times.
    </p>
</section>
<section id="requirements">
    <h2>Qualifications and Requirements</h2>
    Scouts 1st Class and Above or Currently Holding Troop Leadership Position
    <ul>
        <li>
            During each Scouting year, demonstrate that you have met the current BSA “Cyber Chip” program requirements to designated adult leaders:         
        <ul>
            <li>
                <a href="http://www.scouting.org/Training/YouthProtection/CyberChip/Grades9-12.aspx" target="_blank">
                    Requirements - Grades 9 through 12
                </a>
            </li>
            <li>
                <a href="http://www.scouting.org/Training/YouthProtection/CyberChip/Grades6-8.aspx" target="_blank">
                    Requirements - Grades 6 - 8
                </a>
            </li>
        </ul>
        </li>
        <li>
            Sign and turn in to the Scoutmaster or other designated adult leader, the Troop 212 
            <a href="tech-contract">Technology Chip Contract</a>
        </li>
        <li>
            Carry a valid Troop 212
            <a href="tech-card-sample">
                 Technology Chip Honor Card
            </a>
            , signed and issued by the Scoutmaster or other designated adult leader
        </li>
        <li>
            Set a good example for other scouts by demonstrating appropriate usage of devices at BSA, Council, and Troop 212 
            functions at all times
        </li>
    </ul>
</section>
<section id="meetings">
    <h2>Device Usage During Troop Meetings
    </h2>
    <p>
        In general, the usage of electronic devices during weekly troop meetings is a distraction
         from speakers and planned activities. Because of this, device usage is only allowed during 
         troop meetings with prior approval of the Scoutmaster. Except for those instances where a 
         device has been approved by the Scoutmaster for conducting Troop 212 business, devices should 
         remain out of sight, and either off, or with notifications turned completely off.
         If a scout is observed using a device during a troop meeting at a time not explicitly approved
          by the Scoutmaster, the device will be placed in a secure location for the remainder of the 
          meeting by an adult leader.
    </p>
</section>
<section id="trips">
    <h2>Device Usage During Troop Trips and Outings</h2>
    <p>
        At the discretion of the Tripmaster (the adult leader planning the outing), scouts currently 
        holding a valid Troop 212 Technolgy Chip Honor Card will be allowed to use approved devices 
        at designated times during the trip. In general “designated times” will be during car rides 
        to and from trips, and at brief, predetermined intervals during the mornings or evenings for 
        the purposes of conducting troop business or for communicating with family. At all other times
         during the trip, device usage is not allowed (except as noted below for the SPL). If it is 
         determined that devices are being used inappropriately during a trip, devices will be collected
          and placed in a secure location with either the Tripmaster or Scoutmaster.
    </p>
    <p>
        For the purposes of communicating with adult leaders and conducting troop business during the
         trip, the SPL (or acting SPL) shall have the privilege of using devices throughout the trip,
         provided usage is consistent with the <a href="tech-card-sample">Troop 212 Technology Chip Honor Card</a>.
    </p>
</section>
<section id="consequences">
    <h2>Consequences of Violation of Technology Usage Policy</h2>
    <p>
        Qualified scouts who violate the Technology Usage Policy on more than two occasions will have their
         privileges revoked for a period of time determined by the Scoutmaster. Scouts carrying a valid 
         Technology Chip Honor Card will have a corner removed for each infraction for tracking purposes.
    </p>
    <p>
        Scouts who are not certified for device usage are not allowed to use devices at any time during troop 
        functions (<strong><a href="#e-readers">Dedicated e-readers are the one exception to this rule</a></strong>). 
        Violation of this policy will be subject to disciplinary action to be determined by the 
        Scoutmaster, including possible suspension from troop outings.
    </p>
</section>
<section id="devices">
    <h2>List of Approved Electronic Devices During Troop Activities</h2>
    <ul>
        <li>
            Smartphones and similar multi-function, pocket-sized devices
            <ul>
                <li>Remember that device usage will be limited to mainly car rides and brief intervals as determined by the Tripmaster</li>
                <li>A device should at least have the potential to be used in a Scouting related activity, so dedicated game machines do not qualify</li>
            </ul>
        </li>
        <li id="e-readers">
            Dedicated e-book readers, such as “Kindle” (note that this does not include multi-purpose tablet computers with or without the “Kindle” brand name)
            <ul>
                <li>Technology certification is <strong>NOT</strong> required for dedicated e-book readers</li>
                <li>However, usage of an e-book reader is only allowed at times where it would be appropriate to read a physical, paper book</li>
            </ul>
        </li>
        <li>
            Use of any other electronic device during a troop activity (e.g., laptop, iPad, etc.) requires prior approval by the Scoutmaster or Tripmaster
        </li>
    </ul>
</section>