<h1>{{title}}</h1>
<div>
    <p>The contract has been submitted and recorded. Please print your 
        <a href="tech-card">Technology Honor Card</a>, sign it, and present 
        it to the Scoutmaster for signature.
    </p>
</div>