<h1>{{title}} (a.k.a., Totin' Phone)</h1>
<form>
	<div class="row">
		<div class="twelve columns">
			<h2>
				Following are the requirements to earn the right to use and carry an electronic device during Troop 212 meetings and outings.
			</h2>
			<h3>
				Note that this certification must be renewed at the beginning of each Scouting season.
			</h3>
			<ol>
				<li>
					Obtain the rank of First Class or currently hold any leadership position in the Troop.
				</li>				
				<li>
					Discuss with your parents the benefits and potential dangers teenagers might experience when using social media. Give examples of each.
				</li>
				<li>
					Watch three “Real-Life Story” videos to learn the impact on teens.
				</li>
				<li>
					As an individual or patrol, use the EDGE method and the Student Project Kit to teach Internet safety rules, behavior, and “netiquette” to your troop or another patrol. You are encouraged to use any additional material and information you have researched. Each member of the patrol must have a role and present part of the lesson. Details to follow. 
				</li>
				<li>
					Sign the Troop 212 Cyber Chip Online Contract indicating that you understand the acceptable standards and practices for using allowed electronic devices such as phones and computers at your meetings and other Scouting events.
				</li>
				<li>
					Read and sign the Level II Internet Safety Pledge (BSA Cyber Chip green card). This will be provided to you as the last step in this process.
				</li>
			</ol>
			<p>
				If you have met requirement one listed above, select the button below to get started on your certification or renewal.
			</p>
			<button class="button-primary">Step 1</button>
		</div>
	</div>
</form>
