<h1>{{title }}</h1>
<div class="">
  <form class="" action="/survey" method="post">
    <fieldset>
      <legend>Technology Survey</legend>
      <ul>
        <li class="formItem">
          <label for="name">Your Name (optional but preferred for potential follow-up):</label>
          <input type="text" name="name" value="">  
        </li>
        <li class="formItem">
          <label for="type">I am a...</label>
          <select name="type" id="type">
            <option value="0">Choose...</option>
            <option value="1">Scout</option>
            <option value="2">Parent (not in leadership role)</option>
            <option value="3">Adult Leader</option>
          </select>
        </li>
        <li class="formItem">
          <div>
            <p>The Internet and electronic devices have evolved rapidly over the past 
              20 years, enabling us to communicate with our friends, family, and work
              colleagues much more effectively and efficiently. At the same time, these same technologies provide a multitude of distractions in our daily social interactions, preventing us from getting essential tasks and work done.
            </p>
            <p>
              The contemporary Scouting experience is at a crossroads on many fronts. The integration of technology into the Scouting experience is one of those fronts. As Scouting leaders, it is our responsibility to develop and adjust policies to be not only consistent with the core values of Scouting, but to also be forward looking as the BSA plans for the future.
            </p>
            <p>
              With the above thinking in mind, Troop 212 is considering changes to the current electronic device usage policy. The general idea would be to allow certain devices at approved times during troop meetings, travel, and outdoor activities. As a participant or stakeholder in our troop, we are interested in your ideas and insights. Please consider the following and submit your input. Thank you in advance for your participation.
            </p>
          </div>
          <label>
            List three ways that technology could be
            used during troop meetings and activities
            to enhance the Scouting experience.
          </label>
          <ul>
            <li class="formItem">
              <input type="text" name="enhance1">
            </li>
            <li class="formItem">
              <input type="text" name="enhance2">
            </li>
            <li class="formItem">
              <input type="text" name="enhance3">
            </li>
          </ul>
        </li>
        <li class="formItem">
          <label>
            List three ways that technology might be
            a distraction from the intended Scouting
            experience during troop meetings and activities.
          </label>
          <ul>
            <li class="formItem">
              <input type="text" name="distract1">
            </li>
            <li class="formItem">
              <input type="text" name="distract2">
            </li>
            <li class="formItem">
              <input type="text" name="distract3">
            </li>
          </ul>
        </li>
        <li class="formItem">
          <label for="what-else">
            What else would you like to share about the troop's current or future electronic device usage policy?</label>
            <p><textarea name="whatElse" id="" cols="30" rows="10"></textarea></p>
        </li>   
        <li class="formItem">
          <label for="contact">Would you like to be contacted to discuss the troop's electronic device usage policy?</label>
          <input onchange="onContactChanged()" type="radio" name="contact" value="1">Yes
          <input onchange="onContactChanged()" type="radio" name="contact" value="0" checked>No
          <div style="display:none" id="emailContainer">
            <input type="text" name="email" placeholder="you@domain.com">
          </div>
        </li>
          <li class="formItem">
            <button type="submit" name="surveySubmit">Submit</button>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  <script>
  function  onContactChanged(element){
    var radios = document.getElementsByName('contact');
    for (var i = 0, length = radios.length; i < length; i++) {
      if(radios[i].checked){
        var email = document.getElementById('emailContainer');
        if(radios[i].value==='yes'){          
          email.style.display = 'block';
        }
        else{
          email.style.display = 'none';
        }
      }
    }
  }
  </script>
