<h1>{{title}}</h1>

    <p>
        As a scout in good standing with Troop 212 of the Occoneechee Council, I 
        promise that:
    </p>
    <ul>
        <li>
            I will prioritize people, outdoor activities, and my advancement in Scouting
             over electronic devices.
        </li>
        <li>
            I will put my devices away when another person, especially an adult,
             is trying to have a conversation with me.
        </li>
        <li>
            I will put my device away when I am having a meal with my family.
        </li>
        <li>
            I will use all of my devices in a manner that is consistent with
             
            <a href="http://www.scouting.org/filestore/youthprotection/pdf/100-055_WB.pdf">
             The Scout Law 
            </a>,
            as it applies to Cybersafety and Cyberbullying 
            (you must read this before signing this document).
        </li>
        <li>
            I will only use approved electronic devices during Scouting activities
            at specific times approved by a Troop 212 adult leader. 
        </li>
    </ul>
</section>