<h1>{{title}}</h1>
<section>
	<div>Print the card below, cut it out, and present it to the Scoutmaster or ASM for activation and signature. 
		Carry it with you during Troop 212 activities, when you want to use your device.
	</div>
	<br>
    <div class="background">
        <p class="bg-text">Sample</p>
    </div>
	<div class="content" id="tech-chip-card">
		I, <b>{{scoutName}}</b>, promise that I:
		<ul>
			<li>will use my device in accordance with the Scout Law and Scout Oath.</li>
			<li>will follow the Troop 212 device usage policy.</li>
			<li>will keep to the Tech Chip Contract that I agreed to with my parent. </li>
		</ul>
		<table>
			<tr>
				<td>
					<center> ____________________ <br> Scout
					</center>
				</td>
				<td>
					<center> ____________________ <br> Scoutmaster or ASM
					</center>
				</td>
			</tr>
		</table>
		<center>----------Fold Here----------</center>
		<div>
			<table>
				<tr>
					<td><a href="https://xkcd.com/327/"><img src="{{ barcodeUrl }}"></a></href></td>
					<td>
						<center>
							_____________ <br> Date Activated
						</center>

					</td>
				</tr>
			</table>

		</div>
	</div>
</section>