#logo {
max-width: 100%;
height: auto !important;
}

body {
  padding: 50px;
  /*font: 14px Helvetica, Arial, sans-serif;*/
}

a {
  color: #003F87;
}

.scoutYellow {
  color: #996633;
}

.scoutBrown {
  color: #FFCC00;
}

.scoutBlue {
  color: #003F87;
}

.scoutRed {
  color: #CE1126;
}

.header-nav {
  overflow: hidden;
  margin-left: 1px;
  padding: 5px 5px 0px;
  text-align: left;
}

div.header-nav ul {
  margin: 0;
  padding: 0;
}

div.header-nav li {
  display: inline-block;
  list-style-type: none;
  list-style-image: none;
  padding: 2px 7px;
  margin: 5px 3px;
  border-radius: 2px;
  box-shadow: 0 0 1px #555;
  color: #ffffff;
}

.menuItem {
  color: #ffffff
}


div.header-nav li {
  background-color: #0089c9;
}

li.formItem {
  list-style-type: none;
  padding-bottom: 20px;
}

ul  > li.formItem:first-child {
  padding-top: 10px;
}

.formItem label {
  display: block;
  font-weight: bold;
}

.info{
  font-size: smaller;
}

.required {
  color: red;
  font-weight: bold;
}

.validationError {
  color: red;
  font-weight: bold;
  display: block;
}

.validationErrorHidden {
  display: none;
}

ul.surveySubBullets {
  padding-left: 0;
}

ul.surveySubBullets li input {
  width: 233px;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: grey;
}


ul {
  padding: 20px 0 0 20px;
  list-style-position: outside;
}

#tech-chip-card  {
  margin-left: 50px;
  font-size: smaller;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 300px;  
}

#tech-chip-card ul, table{
  margin-bottom: 0;
}

/*for watermark like text inside an element like a div*/
.background{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
}

.content{
    position:absolute;
    z-index:1;
}

.bg-text
{
    color:lightgrey;
    font-size:100px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}